LLM_PROVIDER='azure-openai'
AZURE_OPENAI_DEPLOYMENT=${LLM_MODEL}
AZURE_OPENAI_API_VERSION='2025-03-01-preview'
AZURE_OPENAI_ENDPOINT=${LLM_BASE_URL}
AZURE_OPENAI_API_KEY=${LLM_API_KEY}
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=${LLM_EMBEDDING_DEPLOYMENT}
AZURE_OPENAI_VISION_DEPLOYMENT=${LLM_VISION_DEPLOYMENT}
TAVILY_API_KEY=
OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
